:host {
  position: relative;
  width: 100%;
  height: 100%;
}

.wavesContainer {
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 50vh;
  left: 0;
}

.wavesContainer::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: var(--lightColor);
}

.bodyContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.contentContainer {
  margin-top: 6vh;
  width: 100%;
  height: 80%;
  position: relative;
  align-items: center;
  color: rgb(white, 0.6);
}

.backgroundImgContainer {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 110vh;
  max-height: 110vh;
  height: 100%;
}

.backgroundImg {
  object-fit: fill;
  object-position: center;
  height: 100%;
  min-height: 100%;
  min-width: 100vw;
}
