:host {
  position: relative;
  width: 100%;
  height: 100%;
}

.wavesContainer {
  height: 50%;
  width: 110%;
}

.bodyContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow-x: hidden;
}

.bodySpacer {
  height: 55%;
}

.contentContainer {
  width: 100%;
  height: 80%;
  position: absolute;
  align-items: center;
  color: rgb(white, 0.6);
  top: 6%;
}

.backgroundFooter {
  min-width: 100%;
  width: 100%;
  min-height: 30vh;
  height: 30vh;
  position: absolute;
  top: 100%;
  z-index: -1;
}
