<div
  class="wavesContainer"
  [style.background-color]="
    preferences ? preferences.wavesColor : 'var(--wavesColor)'
  "
>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="waves">
    <path
      fill="var(--lightColor)"
      fill-opacity="1"
      d="M0,32L24,42.7C48,53,96,75,144,101.3C192,128,240,160,288,149.3C336,139,384,85,432,90.7C480,96,528,160,576,160C624,160,672,96,720,90.7C768,85,816,139,864,138.7C912,139,960,85,1008,80C1056,75,1104,117,1152,112C1200,107,1248,53,1296,32C1344,11,1392,21,1416,26.7L1440,32L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"
    ></path>
  </svg>
</div>
<div class="backgroundImgContainer">
  <img
    *ngIf="preferences?.backgroundImg?.name !== 'Waves'"
    class="backgroundImg"
    [src]="preferences?.backgroundImg?.url"
  />
</div>
<app-preferences
  *ngIf="prefModalIsOpen"
  (handleNameChange)="handleNameChange($event)"
  (toggleShowPrefModal)="toggleShowPrefModal()"
  (handleShowBookmarkColors)="handleShowBookmarkColors($event)"
  [preferences]="preferences"
  (handleColorChange)="handleColorChange($event)"
  (handleBackgroundImgChange)="handleBackgroundImgChange($event)"
></app-preferences>
<div class="bodyContainer">
  <app-toolbar (toggleShowPrefModal)="toggleShowPrefModal()"></app-toolbar>
  <div class="contentContainer flexColumn">
    <app-greeting [preferences]="preferences"></app-greeting>
    <app-searchbar></app-searchbar>
    <app-bookmarksgrid [preferences]="preferences"></app-bookmarksgrid>
  </div>
</div>
