:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.searchForm {
  display: flex;
  width: 100%;
  height: 100%;
}

.searchbarContainer {
  width: 70%;
  max-width: 600px;
  height: 2.3rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--searchbarColor);
  padding: 3px 0.2rem;
  opacity: 0.8;
  border-radius: 4px;
  color: inherit;
  padding: 0;

  .searchbarInput {
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--greetingTextColor);
    font-size: 1.2rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
  }

  .searchbarInput:focus {
    outline: none;
  }

  .searchBtn {
    width: 15%;
    height: 100%;
    cursor: pointer;
    background-color: var(--searchbarColor);
    border: none;
    color: black;
    font-size: inherit;
    padding: 0 0.5rem;
  }
}
