:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.instructionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}

.instructionsText {
  font-weight: 200;
  font-size: small;
  user-select: none;
  margin: 0;
}

.bookmarksList {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0.2rem 0 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.bookmarksListItem {
  padding: 0.3rem 0 0.3rem 0rem;
  width: 95%;
  height: 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 1rem 0;
  background-color: #121010;
  font-size: medium;
}

.bookmarksListIcon {
  font-size: 2rem;
}

.urlContainer {
  width: 64%;
  height: 90%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.urlSlidingContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  //   transform: translate(-50%, 0);
  transition: 0.3s ease-in-out;
}

.inputFieldContainer {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  span {
    font-size: small;
    margin-right: 6px;
    user-select: none;
  }

  input {
    border-width: 1px;
    border-color: black;
    background-color: rgb(black, 0.8);
    font-size: medium;
    flex-grow: 1;
    height: 80%;
  }

  input:focus {
    outline: 1px transparent solid;
  }
}

.staticUrlField {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  color: rgb(white, 0.4);
}

.staticUrlField span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmarksListItem.active .bookmarksListIcon {
  color: lightskyblue;
}
