<div class="instructionsContainer">
  <p class="instructionsText">Click to add/remove from home screen</p>
</div>
<ul class="bookmarksList">
  <li
    *ngFor="let bookmark of preferences?.bookmarks; let i = index"
    (click)="handleListItemClick(i)"
    class="bookmarksListItem"
    [style.border]="'1px solid'"
    [style.border-color]="bookmark.active ? bookmark.color : 'transparent'"
  >
    <fa-icon
      class="bookmarksListIcon"
      [style.color]="bookmark.active ? bookmark.color : 'inherit'"
      [icon]="bookmark.icon"
    ></fa-icon>
    <div class="urlContainer">
      <div
        class="urlSlidingContainer"
        [style.transform]="
          bookmark.isEditing ? 'translate(-50%, 0)' : 'translate(0)'
        "
      >
        <div class="staticUrlField">
          <span>{{ bookmark.url }}</span>
        </div>
        <div class="inputFieldContainer">
          <span>URL</span>
          <input
            (click)="stopPropagation($event)"
            class="textInput"
            type="text"
            value="{{ bookmark.url }}"
            (input)="handleBookmarkUrlEdit(i, $event)"
            (change)="handleBookmarkUrlClose(i, $event)"
          />
        </div>
      </div>
    </div>
    <button class="iconButton" (click)="turnOnEditing(i, $event)">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
  </li>
</ul>
