<div class="preferencesOverlay" (click)="onClick()">
  <div class="flexColumn preferencesModal" (click)="stopPropagation($event)">
    <div class="flexRow header">
      <div class="flexRow title">
        <fa-icon [icon]="faCog" [style.font-size]="'1.3rem'"></fa-icon>
        <h2>Preferences</h2>
      </div>
    </div>
    <div class="flexColumn content">
      <div class="flexRow formFields">
        <div class="nameInputContainer">
          <label for="name">Name</label>
          <input
            autocomplete="off"
            id="color"
            name="name"
            class="textInput"
            value="{{ name ? name : '' }}"
            (input)="onNameChange($event)"
          />
        </div>
      </div>
      <div class="flexRow formFields">
        <!-- <div class="flexRow colorInputContainer">
          <label for="wavesColorInput">Waves Color</label>
          <input
            name="wavesColorInput"
            id="wavesColorInput"
            class="colorInput"
            type="color"
            value="{{ wavesColor ? wavesColor : '#000000' }}"
            (input)="onColorChange($event, 'wavesColor')"
          />
        </div> -->
        <div class="flexRow colorInputContainer">
          <label for="textColorInput">Text Color</label>
          <input
            name="textColorInput"
            id="textColorInput"
            class="colorInput"
            type="color"
            value="{{ greetingTextColor ? greetingTextColor : '#000000' }}"
            (input)="onColorChange($event, 'greetingTextColor')"
          />
        </div>
        <div class="flexRow colorInputContainer showColorsContainer">
          <label for="showColors">Show icon colors?</label>
          <input
            name="showColors"
            id="showColors"
            class="showColorsInput"
            type="checkbox"
            [defaultChecked]="this.showBookmarkColors"
            value="{{ preferences?.showBookmarkColors }}"
            (input)="onShowColorChange($event)"
          />
        </div>
      </div>
      <div class="flexRow formFields colorInputContainer">
        <label for="wavesColorInput">Waves Color</label>
        <input
          name="wavesColorInput"
          id="wavesColorInput"
          class="colorInput"
          type="color"
          value="{{ wavesColor ? wavesColor : '#000000' }}"
          (input)="onColorChange($event, 'wavesColor')"
        />
      </div>
      <app-bookmarks [preferences]="preferences"></app-bookmarks>
      <div class="resetSectionContainer">
        <span class="resetBtnTitle">Reset preferences</span>
        <div class="resetSectionBottom">
          <span class="resetBtnInstructions"
            >This will reset your bookmarks to the default URLs and update your
            bookmarks with new ones that I've added recently.</span
          >
          <button class="resetBtn" (click)="handleResetPrefs()">
            Reset&nbsp;
            <fa-icon [icon]="faSync"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
