:host {
  position: absolute;
  width: 100%;
  height: 100%;
}

.preferencesOverlay {
  background-color: rgb(black, 0.2);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preferencesModal {
  background-color: rgb(black, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 14px;
  min-width: 80%;
  min-height: 70%;
  color: white;
}
