:host {
  position: absolute;
  width: 100%;
  height: 100%;
}

.preferencesOverlay {
  background-color: rgb(black, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preferencesModal {
  background-color: #171717;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border-radius: 14px;
  width: 80%;
  max-width: 500px;
  min-height: 75%;
  max-height: 75%;
  color: var(--textColor);
  box-shadow: 10px 10px 20px 1px rgb(black, 0.5);

  .header {
    width: 100%;
    color: var(--headerTextColor);
    margin: 0 0 1rem 0;
    h2 {
      margin: 0 0 0 0.5rem;
    }
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  .content {
    align-items: flex-start;
    width: 100%;
    overflow-y: scroll;
    overflow-x: visible;

    .formFields {
      font-size: 1.1rem;
      margin: 0 0 1rem 0;
      width: 70%;

      .textInput {
        flex-grow: 1;
      }

      .textInput:focus {
        border-color: white;
        outline: none;
      }

      label {
        margin: 0 1rem 0 0;
        user-select: none;
      }

      .colorInput {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 2rem;
        height: 1.95rem;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .colorInput::-webkit-color-swatch {
        border: 2px solid var(--textColor);
        border-radius: 4px;
        height: 100%;
        width: 100%;
        padding: 0;
      }
    }
  }
}
