<div class="gridContainer">
  <a
    #link
    *ngFor="let bookmark of preferences?.bookmarks"
    class="gridItem"
    target="_blank"
    href="{{ bookmark.url }}"
    (mouseover)="link.style.color = bookmark.color"
    (mouseout)="
      preferences?.showBookmarkColors
        ? (link.style.color = bookmark.color)
        : (link.style.color = 'var(--iconColor)')
    "
    [style.display]="bookmark.active ? 'flex' : 'none'"
    [style.color]="
      preferences?.showBookmarkColors ? bookmark.color : 'var(--iconColor)'
    "
    [name]="bookmark.name"
    rel="noreferrer"
  >
    <div
      class="iconFromLocalContainer"
      [style.width]="determineIconSizeForLocalSvg(bookmark.name).width"
      [style.height]="determineIconSizeForLocalSvg(bookmark.name).height"
      *ngIf="bookmark.localSvg; else faIcon"
    >
      <app-svgcomponent
        [type]="bookmark.name"
        [title]="bookmark.name"
        [color]="bookmark.color"
        [currentColor]="link.style.color"
      ></app-svgcomponent>
    </div>
    <ng-template #faIcon>
      <fa-icon class="bookmarkIcon" [icon]="bookmark.icon"></fa-icon>
    </ng-template>
  </a>
</div>
