:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  max-width: 1000px;
}

.gridItem {
  margin: 0.3rem 0.6rem;
  cursor: pointer;
  color: inherit;
  width: 11rem;
  height: 6rem;
  background-color: rgb(18, 18, 18);
  border: none;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  // display: flex;
  justify-content: center;
  align-items: center;
}

.gridItem:hover {
  box-shadow: 4px 4px 10px 1px rgb(0, 0, 0, 0.3);
  transform: scale(1.02);
}

.gridItemLink {
  width: 100%;
  height: 100%;
}

.bookmarkIcon {
  font-size: 3rem;
}

@media only screen and (max-width: 840px) {
  .gridItem {
    width: 8rem;
    height: 6rem;
  }
}
@media only screen and (max-width: 700px) {
  .gridItem {
    width: 7rem;
    height: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .bookmarkIcon {
    font-size: 2.6rem;
  }
}
@media only screen and (max-width: 460px) {
  .gridItem {
    width: 5rem;
    height: 4rem;
  }

  .bookmarkIcon {
    font-size: 2.2rem;
  }
}
