<div class="gridContainer">
  <a
    #link
    *ngFor="let bookmark of preferences?.bookmarks"
    class="gridItem"
    target="_blank"
    href="{{ bookmark.url }}"
    (mouseover)="link.style.color = bookmark.color"
    (mouseout)="
      preferences?.showBookmarkColors
        ? (link.style.color = bookmark.color)
        : (link.style.color = 'inherit')
    "
    [style.display]="bookmark.active ? 'flex' : 'none'"
    [style.color]="preferences?.showBookmarkColors ? bookmark.color : 'inherit'"
  >
    <fa-icon class="bookmarkIcon" [icon]="bookmark.icon"></fa-icon>
  </a>
</div>
