:host {
  width: 100%;
  position: absolute;
  top: 0;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.settingsBtn {
  color: var(--greetingTextColor);
  opacity: 0.3;
}

.settingsBtn:hover {
  opacity: 1;
}
