:root {
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
  --hueValue: 0;
  --wavesColor: #1b1b1b;
  --lightColor: #302828;
  --textColor: rgb(255, 255, 255, 0.6);
  --iconColor: rgb(255, 255, 255, 0.6);
  --preferencesTextColor: rgb(255, 255, 255, 0.6);
  --searchbarColor: rgb(233, 233, 233);
  --greetingTextColor: rgb(180, 180, 180);
  --bookmarkBgColor: rgb(18, 18, 18);
  --headerTextColor: rgb(255, 255, 255, 0.8);
  overflow-x: hidden;
  background-color: var(--wavesColor);
}

body {
  width: 100vw;
  min-height: 100vh;
  height: 110vh;
  padding: 0;
  margin: 0;
  background: rgb(116, 116, 116);
  background: linear-gradient(
    0deg,
    var(--wavesColor) 33%,
    var(--lightColor) 33%
  );
  // overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.flexRow {
  display: flex;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.textInput {
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: 2px solid var(--textColor);
  padding: 3px 0.2rem;
  opacity: 0.8;
  border-radius: 4px;
}

.iconButton {
  background-color: transparent;
  border: none;
  color: white;
  opacity: 0.2;
  border-radius: 10px;
  font-size: 1.4rem;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.iconButton:hover {
  opacity: 0.9;
}

.iconButton:active {
  transition: 0.1s ease-in-out;
  opacity: 0.9;
  transform: translate(3%, 3%);
}

@media only screen and (max-width: 400px) {
  body {
    width: 100vw;
    max-width: 100vw;
  }
}
