:host {
  margin-bottom: 2rem;
}

.container {
  align-items: center;
  user-select: none;
}

p {
  text-align: center;
}

.greeting {
  margin: 0.2rem 0;
  font-weight: 300;
}

.dateAndTime {
  font-size: 1.8rem;
  margin: 0 0 0rem 0;
}
